Jump to python
==

문자열(String)
--
 : 문자, 단어 등으로 구성된 문자들의 집합, 따옴표로 둘러싸여 있음
 >  ex. "Life is too short, You need Python" , "a" , "123"

* 문자열 만들기

> - 큰따옴표(")

In [12]:
print("Hello World")

Hello World

> - 작은따옴표(')

In [13]:
print('Python is fun')

Python is fun

> - 큰따옴표 3개 연속(""") 사용

In [14]:
print("""Life is too short, You need python""")

Life is too short, You need python

> - 작은따옴표 3개 연속(''') 사용

In [15]:
print('''Life is too short, You need python''')

Life is too short, You need python

* 문자열 안에 작은따옴표나 큰따옴표 포함시키기

> - 문자열에 작은따옴표 (') 포함시키기

In [16]:
food = "Python's favorite food is perl"

print(food)

Python's favorite food is perl

In [17]:
food = 'Python's favorite food is perl'

print(food)

# Python이 문자열로 인식되어 구문 오류(Syntax Error)가 발생

SyntaxError: invalid syntax (3100917712.py, line 1)

> - 문자열에 큰따옴표 (") 포함시키기

In [ ]:
say = '"Python is very easy." he says.'

print(say)

"Python is very easy." he says.

> - 백슬래시( \ ) 사용해 작은 따옴표(')와 큰따옴표(")를 문자열에 포함시키기

In [ ]:
food = 'Python\'s favorite food is perl'

print(food)

say = "\"Python is very easy.\" he says."

print(say)

# 백슬래시를 사용하면 작음따옴표와 큰따옴표가 문자열을 둘러싸는 기호의 의미가 아닌 문자 그 자체를 뜻하게 됨

Python's favorite food is perl
"Python is very easy." he says.

* 여러 줄인 문자열을 변수에 대입하고 싶을 때

> - 줄을 바꾸는 이스케이프 코드 \n 삽입

In [ ]:
multiline = "Life is too short\nYou need Python"

print(multiline)

Life is too short
You need Python

> - 연속된 작은따옴표 3개 (''') 또는 큰따옴표 3개 (""") 사용

In [ ]:
multiline = '''
Life is too short
You need Python
'''

print(multiline)

Life is too short
You need Python

In [ ]:
multiline = """
Life is too short
You need python
"""

print(multiline)

Life is too short
You need python

* 이스케이프 코드 : 미리 정의해 둔 문자조합. 주로 출력물을 보기 좋게 정렬하는 용도로 사용.

  - \n : 문자열 안에서 줄을 바꿀 때
  - \t : 문자열 사이에 탬 간격을 줄 때
  - \\\ : 문자 \ 를 그대로 표현할 때
  - \\\' : 작은따옴표를 그대로 표현할 때
  - \\\" : 큰따옴표를 그대로 표현할 때

* 문자열 연산하기

> - 문자열 더해서 연결하기(Concatenation)

In [ ]:
head = "Python"
tail = " is fun!"

print(head + tail)

Python is fun!

> - 문자열 곱하기

In [ ]:
a = "Python"

print(a*2)

PythonPython

> - 문자열 곱하기 응용

In [ ]:
print("=" * 50)

print("My Program")

print("=" * 50)

# multistring.py로 해당 code 저장 후, cmd 창을 열어 해당 디렉터리를 입력하고, python multistring.py 입력하면 아래와 같은 결과가 나타남. (프로그램 제목 표시에 좋음)

==================================================
My Program
==================================================

> - 문자열 길이 구하기

In [ ]:
a = "Life is too short"

len(a)

17

* 문자열 인덱싱과 슬라이싱
  > - 리스트와 튜플에서도 사용 가능

> - 문자열 인덱싱(Indexing) : 가리킨다

In [ ]:
a = "Life is too short, You need Python"

a[3]

'e'

  >> - 파이썬은 0부터 숫자를 셈
  
  >> - 즉, a[0]:'L', a[1]:'i', a[2]:'f', a[3]:'e', a[4]:' ' ...

> - 문자열 인덱싱 활용

In [ ]:
a = "Life is too short, You need Python"

a[0]

'L'

In [ ]:
a = "Life is too short, You need Python"

a[12]

's'

In [ ]:
a = "Life is too short, You need Python"

a[-1] # 뒤에서 세어 첫 번째가 되는 문자

'n'

In [ ]:
a = "Life is too short, You need Python"

a[-0] # a[0]과 같은 값

'L'

In [ ]:
a[-2]

'o'

In [ ]:
a[-5]

'y'

> - 문자열 슬라이싱

In [ ]:
a = "Life is too short, You need Python"

b = a[0] + a[1] + a[2] + a[3]

print(b)

Life

In [ ]:
a = "Life is too short, You need Python"
a[0:4]

'Life'

In [ ]:
a[0:3]

# a[시작 번호:끝 번호] -> 끝 번호에 해당하는 것은 포함하지 않음.
# 0<=a<3

'Lif'

In [ ]:
a[0:5]

# a[4]는 공백 문자이기 때문에, 'Life'가 아닌 'Life '가 출력됨. 
# 'Life'와 'Life '는 완전히 다른 문자열

'Life '

In [ ]:
a[0:2]

'Li'

In [ ]:
a[5:7]

'is'

In [ ]:
a[12:17]

'short'

In [ ]:
a[19:]

# 끝 번호 생략하면 시작 번호부터 그 문자열의 끝까지 뽑아냄.

'You need Python'

In [ ]:
a[:17]

# 시작 번호를 생략하면 문자열의 처음부터 끝 번호까지 뽑아냄.

'Life is too short'

In [ ]:
a[:]

# 문자열의 처음부터 끝까지 뽑아냄.

'Life is too short, You need Python'

In [18]:
a[19:-7]

# a[19]에서부터 a[-8]까지 뽑아냄.
# a[-7]은 포함X

'You need'

> - 슬라이싱으로 문자열 나누기

In [19]:
a = "20010331Rainy"

date = a[:8]
weather = a[8:]

print(date)
print(weather)

20010331
Rainy

In [20]:
a = "20010331Rainy"

year = a[:4]
day = a[4:8]
weather = a[8:]

print(year)
print(day)
print(weather)

2001
0331
Rainy

> - 문자열 변경
  >> - Pithon을 Python으로 변경하기

In [22]:
a = "Pithon"

a[1]

a[1] = 'y'

# 문자열의 요솟값은 바꿀 수 있는 값이 아니기 때문에, (immutable한 자료형) 오류가 발생

TypeError: 'str' object does not support item assignment

In [24]:
a = "Pithon"

a[:1] + 'y' + a[2:]

'Python'

* 문자열 포매팅(Formatting)
  > - 문자열 안의 특정한 값을 바꿔야 할 경우 사용 (문자열 안에 어떤 값을 삽입하는 방법)

> - 숫자 바로 대입

In [25]:
"I eat %d apples." % 3

# %d 문자열 포맷 코드(숫자)

'I eat 3 apples.'

> - 문자열 바로 대입

In [26]:
"I eat %s apples." % "five"

# %s 문자열 포맷 코드(문자열)
# 문자열 대입 시, 큰따옴표나 작음따옴표 반드시 사용

'I eat five apples.'

> - 숫자 값을 나타내는 변수로 대입

In [27]:
number = 3

"I eat %d apples." % number

'I eat 3 apples.'

> - 2개 이상의 값 넣기
  >> - % 다음 괄호 안에 콤마로 구분해 각각의 값 넣기

In [28]:
number = 10
day = "three"

"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

* 문자열 포맷 코드

  - %s : 문자열(String)

  - %c : 문자 1개(character)
  
  - %d : 정수(Integer)

  - %f : 부동소수(floating-point)

  - %o : 8진수

  - %x : 16진수
  
  - %% : Literal % (문자 % 자체)

      - %s 는 어떤 형태의 값이든 변환해 넣을 수 있음

In [31]:
"I have %s apples" % 3

'I have 3 apples'

In [32]:

"rate is %s" % 3.234

'rate is 3.234'

> - 포매팅 연산자 %d와 %를 같이 쓸 때는 %%를 씀

In [33]:
"Error is %d%." % 98

ValueError: incomplete format

In [34]:
"Error is %d%%." % 98

'Error is 98%.'

* 포맷 코드와 숫자 함께 사용하기

> - 정렬과 공백

In [35]:
"%10s" % "hi"

# 전체 길이가 10개인 문자열 공간에서 대입 되는 값을 오른쪽으로 정렬하고, 나머지는 공백으로 정렬

'        hi'

In [36]:
"%-10sjane." % 'hi'

# hi 왼쪽 정렬하고, 나머지는 공백으로

'hi        jane.'

> - 소수점 표현하기

In [37]:
"%0.4f" % 3.42134234

# 소수점 네 번째 자리까지만 나타내기

'3.4213'

In [39]:
"%10.4f" % 3.42134234

# 소수점 네 번째 자리까지만 나타내고, 전체 길이가 10인 문자열 공간에서 오른쪽으로 정렬

'    3.4213'

* format 함수를 사용한 포매팅

> - 숫자 바로 대입하기

In [40]:
"I eat {0} apples".format(3)

'I eat 3 apples'

> - 문자열 바로 대입하기

In [41]:
"I eat {0} apples".format("five")

'I eat five apples'

> - 숫자 값을 가진 변수로 대입하기

In [42]:
number = 3

"I eat {0} apples".format(number)

'I eat 3 apples'

> - 2개 이상의 값 넣기

In [43]:
number = 10
day = "three"

"I ate {0} apples. so I was sick for {1} days.".format(number, day)

# 2개 이상의 값의 경우 문자열의 {0}, {1}과 같은 인덱스의 항목이 format 함수의 입력값으로 순서에 맞게 바뀜

'I ate 10 apples. so I was sick for three days.'

> - 이름으로 넣기

In [1]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

# {0},{1} 와 같은 인덱스 항목 대신 {name} 형태 사용 가능
# {name} 형태의 경우 name=value 와 같은 형태의 입력값이 있어야 함

'I ate 10 apples. so I was sick for 3 days.'

> - 인덱스와 이름을 혼용해서 넣기

In [2]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

> - 왼쪽 정렬

In [3]:
"{0:<10}".format("hi")

# 치환되는 문자열 왼쪽 정렬, 문자열의 총 자릿수 10으로 맞춤

'hi        '

> - 오른쪽 정렬

In [4]:
"{0:>10}".format("hi")

'        hi'

> - 가운데 정렬

In [5]:
"{0:^10}".format("hi")

'    hi    '

> - 공백 채우기

In [6]:
"{0:=^10}".format("hi")

# 정렬 시, 공백 문자 대신 지정한 문자 값으로 채워넣기
# 채워 넣을 문자 값은 정렬 문자 바로 앞에 넣기

'====hi===='

In [7]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

> - 소수점 표현하기

In [8]:
y = 3.42134234

"{0:0.4f}".format(y)

'3.4213'

In [9]:
"{0:10.4f}".format(y)

'    3.4213'

> - { 또는 } 문자 표현하기

In [10]:
"{{and}}".format()

# { }와 같은 중괄호 문자를 포매팅 문자가 아닌 문자 그대로 사용할 경우

'{and}'

* f 문자열 포매팅

In [11]:
name = '홍길동'
age = 30

f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

# 문자열 앞에 f 접두사 붙이기
# name, age와 같은 변수 값 생성 후 그 값 참조 가능

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [12]:
age = 30

f'나는 내년이면 {age+1}살이 된다'

# 표현식
# 문자열 안에 변수와 +, - 같은 수식 함께 사용 가능

'나는 내년이면 31살이 된다'

In [13]:
d = {'name':'홍길동', 'age':30}

f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

# 딕셔너리(Key, value 한 쌍으로 갖는 자료형)도 가능

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [17]:
f'{"hi":<10}' # 왼쪽 정렬

'hi        '

In [18]:
f'{"hi":>10}' # 오른쪽 정렬

'        hi'

In [19]:
f'{"hi":^10}' # 가운데 정렬

'    hi    '

In [20]:
f'{"hi":=^10}' # 가운데 정렬하고, '=' 문자로 공백 채우기

'====hi===='

In [21]:
f'{"hi":!<10}' # 왼쪽 정렬하고, '!' 문자로 공백 채우기

'hi!!!!!!!!'

In [22]:
y = 3.42134234

f'{y:0.4f}' # 소수점 4자리까지만 표현

'3.4213'

In [23]:
f'{y:10.4f}' # 소수점 4자리까지 표현하고, 총 자리수를 10으로 맞춤

'    3.4213'

In [24]:
f'{{and}}'

'{and}'

* 문자열 관련 함수들
  - 문자열 자료형은 자체적으로 함수를 가지고 있음
  - 문자열 내장 함수
  - < 문자열 변수 이름.함수이름 >으로 사용

> - 문자 개수 세기(count)

In [26]:
a = "hobby"
a.count('b')

# 문자 b의 개수 리턴

2

> - 위치 알려주기1(find)

In [28]:
a = "Python is the best choice"

a.find('b')

# 문자열 중 문자 b가 처음 나온 위치 리턴

14

In [30]:
a.find('k')

# 찾는 문자나 문자열이 존재하지 않을 시 -1 리턴

-1

> - 위치 알려주기2(find)

In [31]:
a = "Life is too short"

a.index('t')

8

In [32]:
a.index('k')

# 앞선 fine와 다르게 찾는 문자나 문자열이 존재하지 않을 시 오류 발생

ValueError: substring not found

> - 문자열 삽입(join)

In [33]:
",".join('abcd')

'a,b,c,d'

In [34]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

> - 소문자를 대문자로 바꾸기 (upper)

In [35]:
a = "hi"
a.upper()

'HI'

> - 대문자를 소문자로 바꾸기 (lower)

In [36]:
a = "HI"
a.lower()

'hi'

> - 왼쪽 공백 지우기 (lstrip)

In [37]:
a = " hi "
a.lstrip()

# 한칸 이상의 연속된 왼쪽 공백 모두 지움

'hi '

> - 오른쪽 공백 지우기 (rstrip)

In [38]:
a=" hi "
a.rstrip()

' hi'

> - 양쪽 공백 지우기 (strip)

In [39]:
a = " hi "
a.strip()

'hi'

> - 문자열 바꾸기 (replace)

In [40]:
a = "Life is too short"
a.replace("Life", "Your leg")

# 문자열 안의 특정한 값을 다른 값으로 치환

'Your leg is too short'

> - 문자열 나누기 (split)

In [42]:
a = "Life is too short"
a.split()

# 괄호 안에 아무 값도 넣어주지 않으면, 공백 (스페이스, 탭, 엔터 등)을 기준으로 문자열 나누어 리스트로 반환

['Life', 'is', 'too', 'short']

In [43]:
b = "a:b:c:d"
b.split(':')

# 괄호 안에 특정 값이 있을 경우, 괄호 안의 값을 구분자로 문자열을 나누어 리스트로 반환

['a', 'b', 'c', 'd']

> - 문자열 함수의 리턴 값에 대해서
>>  - a.upper() 실행 시, a 변수의 값 자체를 변경하는 것이 아니라, 대문자로 바꾼 값을 리턴하는 것.
>>  - 문자열은 값을 변경할 수 없는 immutable 자료형
>>  - 대입문을 사용해 변경해야 함.
>>  - lower, join, lstrip, rstrip, strip, replace, split 함수는 모두 같은 규칙이 적용. 즉, 문자열 자체의 값이 변경되는 것이 아닌 변경된 값을 리턴함.